@import "tailwindcss";

/* 폰트 */
@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  /* 왓챠피디아 컬러 팔레트 */
  --watcha-primary: #ff0558;
  --watcha-secondary: #ff3377;
  --watcha-background-dark: #171717;
  --watcha-background-light: #f8f8f8;
  --watcha-text-dark: #171717;
  --watcha-text-light: #ffffff;
  --watcha-gray-100: #ebebeb;
  --watcha-gray-200: #d1d1d1;
  --watcha-gray-300: #b7b7b7;
  --watcha-gray-400: #9d9d9d;
  --watcha-gray-500: #838383;
  --watcha-gray-600: #696969;
  --watcha-gray-700: #505050;
  --watcha-gray-800: #363636;
  --watcha-gray-900: #1c1c1c;
}

@theme inline {
  --color-primary: var(--watcha-primary);
  --color-secondary: var(--watcha-secondary);
  --color-background-dark: var(--watcha-background-dark);
  --color-background-light: var(--watcha-background-light);
  --color-text-dark: var(--watcha-text-dark);
  --color-text-light: var(--watcha-text-light);
  --color-gray-100: var(--watcha-gray-100);
  --color-gray-200: var(--watcha-gray-200);
  --color-gray-300: var(--watcha-gray-300);
  --color-gray-400: var(--watcha-gray-400);
  --color-gray-500: var(--watcha-gray-500);
  --color-gray-600: var(--watcha-gray-600);
  --color-gray-700: var(--watcha-gray-700);
  --color-gray-800: var(--watcha-gray-800);
  --color-gray-900: var(--watcha-gray-900);

  --font-sans: "Noto Sans KR", sans-serif;
}

body {
  background-color: var(--watcha-background-light);
  color: var(--watcha-text-dark);
  font-family: var(--font-sans);
}
